body {
    font-family: "Inter", sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
    width: 80px;
    margin-left: 70px;
}

.navbar {
    background-color: #112D4E;
    color: #F9F7F7;
}

.navbar-nav {
    gap: 200px; /* Aumenta o disminuye según prefieras */
    margin-right: 70px;
}

main {
    flex-grow: 1;
    position: relative;
}

footer {
    font-weight: normal;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #112D4E;
    color: #F9F7F7;
}

footer img {
    margin-bottom: 20px;
    max-width: 100%;
}

.container{
    width: 100%;
}

@media (max-width: 1200px) {
    .navbar-nav {
        gap: 100px; 
        margin-right: 40px;
    }
    .navbar-brand img {
        margin-left: 40px
    }
}

@media (max-width: 1000px) {
    .navbar-brand img {
        margin-left: 10px
    }
}

@media (max-width: 400px) {
    .navbar-brand img {
        margin-left: 0px
    }
}