h1, h2, h3 {
    color: #112D4E;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.color-titulo{
    color: #112D4E;
    font-weight: bold;
}

.content-box {
    background-color: #DBE2EF;
    padding: 20px 50px 50px 50px;
    margin: 20px auto;
    max-width: 60%;
    border-radius: 10px;
    overflow: hidden;
}

.content-box-img{
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.content-box p{
    color: #112D4E;
    font-size: 20px;
 
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 150px; 
    align-items: center; 
}
.image-container img {
    max-width: 100px; 
    height: auto;
}

.img-box{
    background-color: #112D4E;
    background-size: cover;
    border-radius: 15px;
    width: 180px;
 }

.text-lines p {
    margin-bottom: 10px; 
}

.regular {
    font-weight: normal; 
}

.bold {
    font-weight: bold; 
}

.italic {
    color: #112D4E;
    font-style: italic;
}

.parrafo-elementos {
    margin-top: 40px;
    margin-bottom: 40px;
}


@media (max-width: 1200px) {
    .image-container {
        gap: 90px; 
    }
    .image-container img {
        max-width: 75px; 
        height: auto;
    }

}

@media (max-width: 768px) {
    .content-box {
        padding: 15px; 
        max-width: 90%;
    }

    .image-container {
        margin: 0px;
        padding: 33px;
        flex-direction: row;
    }

    .image-container img {
        max-width: 50px; 
        height: auto;
    }
    

    .img-box {
        width: 80px; 
    }
}

@media (max-width: 400px) {
    .image-container {
        gap: 30px;
    }
    .image-container img {
        max-width: 40px; 
        height: auto;
    }

}