h1 {
    color: #112D4E;
    font-weight: bold;
    font-style: italic;
}

p{
    color: #3F72AF;
    font-weight: bold;
    font-style: italic; 
}

.color-titulo{
    color: #112D4E;
}

.content-box {
    background-color: #DBE2EF;
    padding: 20px;
    margin: 20px auto;
    max-width: 60%;
    border-radius: 10px;
    overflow: hidden;
}

.content-box-img{
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container{
    display: flex;
    gap: 90%;
    justify-content: space-between;
    margin-left: 115px;
    align-items: center;
    padding: 30px;
    max-width: 30%;
    height: auto;
}

.img-box{
   background-color: #112D4E;
   background-size: cover;
   border-radius: 30px;
   width: 150px;
}

.text-lines p {
    margin-bottom: 10px; 
}

.regular {
    font-weight: normal; 
}

.bold {
    font-weight: bold; 
}

.italic {
    font-style: italic; 
    color: #112D4E;
}

@media (max-width: 768px) {
    .content-box {
        padding: 15px; 
        max-width: 90%;
    }

    .image-container {
        margin: 0px;
        padding: 33px;
        flex-direction: row;
    }

    .image-container img {
        max-width: 70px;
    }

    .img-box {
        width: 80px; 
    }
}