h1, h2{
    color: #112D4E;
    font-weight: bold;
}

.team-title {
    font-size: 2rem;
    text-align: center;
    color: #112D4E; 
    margin-bottom: 30px;
    font-weight: bold;
    font-style: italic;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.team-member {
    background-color: #DBE2EF; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.team-member h2 {
    margin-bottom: 20px;
    margin-top: 15px;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 2rem;
    color: #112D4E;
    font-weight: bold;
}


@media (max-width: 1100px) {
    .team-member {
        padding: 10px;
        width: 350px;
    }
    .team-member h2 {
        margin-bottom: 20px;
        margin-top: 15px;
        font-size: 25px;
    }
    .team-member p {
        font-size: 25px;
    }

}


@media (max-width: 768px) {
    .team-container {
        grid-template-columns: 1fr; 
    }

    .team-member {
        padding: 10px;
        width: 350px;
    }


}

@media (max-width: 400px) {


    .team-member {
        padding: 10px;
        width: 300px;
    }


}
